.comments-form {
	margin-top: 15px;
	margin-bottom: 80px;
	padding: 16px 21px 19px;
	background: @commentsBg;
	.rounded(6px);
}

.comments-form__textarea {
	width: 100%;
	min-height: 95px;
	border: 2px solid #dde8ee;
	padding: 12px 15px;
	margin-bottom: 10px;
	.rounded(8px);
	.transition;
	
	&:focus {
		outline: none;
	}

	&:hover, 
	&:focus, 
	&:active {
		.inner-shadow(0, 1px, 7px, 0.25);
	}
}