include ../mixins/_nav-mixin.pug

-
	var navigation = [
			{name: 'Европа', link: '#'},
			{name: 'Азия', link: '#'},
			{name: 'Острова', link: '#'},
			{name: 'Америка', link: '#'},
			{name: 'Африка', link: '#'}
		];

+navigation(navigation)
