mixin button(text, link)
	if link
		a(class="button" href= link)&attributes(attributes) #{text}
	else
		a(class="button" href= '#!')&attributes(attributes) #{text}

mixin buttonPrimary(text, link)
	if link
		a(class="button button--primary" href= link)&attributes(attributes) #{text}
	else
		a(class="button button--primary" href= '#!')&attributes(attributes) #{text}