mixin button(text, link)
	a(class="button" href= link)&attributes(attributes) #{text}

mixin post-pagination(link, text)
	a(class="post__pagination-link" href= link) #{text}

mixin submit(type, value)
	input(class="comments-form__submit" type= type, value = value)