extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Главная';
	- var pageClass = 'content-page';

block content
	include ../sections/header.pug

	.container
		.row
			.col-lg-10.offset-lg-1
				include ../sections/article.pug
				
	.container
		.row
			.col-lg-10.offset-lg-1
				include ../sections/comments.pug

	include ../sections/footer.pug
