extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Кнопки
			
			.section-ui
				div
					+post-pagination("#", "Предыдущий пост")
				div
					+submit("submit", "Опубликовать")
			pre.
				+post-pagination("#", "Предыдущий пост")
				+submit("submit", "Опубликовать")
			
			.title mixins/_buttons.pug
			pre.
				mixin post-pagination(link, text)
					a(class="post__pagination-link" href= link) #{text}

				mixin submit(type, value)
					input(class="comments-form__submit" type= type, value = value)

