extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Кнопки
			
			.section-ui
				div
					+button('Предыдущий пост')
				div.mt-15
					+buttonPrimary('Опубликовать')
			pre.
				+button('Предыдущий пост')
				+buttonPrimary('Опубликовать')
			
			.title mixins/_buttons.pug
			pre.
				mixin button(text, link)
					if link
						a(class="button" href= link)&attributes(attributes) #{text}
					else
						a(class="button" href= '#!')&attributes(attributes) #{text}

				mixin buttonPrimary(text, link)
					if link
						a(class="button button--primary" href= link)&attributes(attributes) #{text}
					else
						a(class="button button--primary" href= '#!')&attributes(attributes) #{text}

