extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			include:markdown-it ../../markdown-articles/docs.md
