extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Подвал - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.pt-35
			h1 Подвал

			.section-ui
				footer.footer
					.container
						.row
							.col-lg-6.offset-lg-3
								.footer-content
									p.footer-content__text Сергей Киселев
									p.footer-content__text Сверстано на курсе в WebCademy.ru в 2018 году
			
			.title sections/footer.pug
			pre.
				footer.footer

					.container
						.row
							.col-lg-6.offset-lg-3

								.footer-content
									
									p Сергей Киселев
									p Сверстано на курсе в WebCademy.ru в 2018 году