extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Шапка - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.pt-35
			h1 Шапка

			.section-ui
				header.header
					.container
						.row
							.col-lg-6.offset-lg-3
								+logo("#", "Блог о путешествиях")
							.col-lg-6.offset-lg-3
								-
									var navigation = [
											{name: 'Европа', link: '#'},
											{name: 'Азия', link: '#'},
											{name: 'Острова', link: '#'},
											{name: 'Америка', link: '#'},
											{name: 'Африка', link: '#'}
										];

								+navigation(navigation)
			
			.title sections/header.pug
			pre.
				header.header
					.container
						.row
							.col-lg-6.offset-lg-3
								+logo("#", "Блог о путешествиях")
							.col-lg-6.offset-lg-3
								include navigation.pug